@use '../custom' as *;

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    background-color: $black;
    width: 100%;
    box-sizing: border-box;


}
img{
  font-family: rocGrotesk;
  font-weight: regular;
}

