@use '../custom' as *;

@font-face {
    font-family:rocGrotesk ;
    src: url(/Fonts/RocGrotesk-Bold.otf);
    font-weight: bold;
  }
header{
    position: relative;
    .banner{
        height: 100vh;
        font-family: rocGrotesk;
        background-image: url("/img/header.png");
        background-repeat:no-repeat;
        background-size:100%;
        margin-right: 40px;
        margin-left: 40px;

        nav {
            .nav-link{
                color: $white!important;
                font-size: 20px!important;

            }
            img{
                width: 134px;
            }
        }
       
    }
    .text-content{
        color: $white;
        position: absolute;
        transform: translate(0.5%, 50%);

        h1{
            font-size: 130px;

        }
    }
}