@use '../custom' as *;


header{
    position: relative;
    overflow: hidden;
    nav{
      z-index: 1000000000;
    }
    
.img-section{
height: 83%;
left:0;
right:0;
margin-left: auto;
margin-right: auto;
width: 73%;
position: absolute;
top: 0;
  z-index: -100000000;
  @media (max-width: 730px) { 
width: 100%;
    height: auto;

  }
}
    .banner{
        height: 100vh;
        overflow: hidden;

        font-family: rocGrotesk;
        
        margin-right: 46px;
        margin-left: 46px;
        @media (max-width: 990px) { 
          height: 550px;

        }   
        @media (max-width: 850px) { 
          height: 500px;

        }   
        @media (max-width: 730px) { 
          margin-right: 0px;
        margin-left: 0px;
        height: 500px;

        }
        @media (max-width: 600px) { 
            height: 450px;
            background-size:120%;


          }
          @media (max-width: 553px) { 
            height: 400px;


          }
          @media (max-width: 417px) { 
            height: 350px;


          }
          @media (max-width: 473px) { 
            height: 330px;


          }
          @media (max-width: 389px) { 
            height: 310px;


          }
          @media (max-width: 369px) { 
            height: 280px;


          }
        
      
        nav {
            font-family:rocGrotesk ;
            font-weight: bold;
            
            @media (max-width: 769px) { 
                background-color: #212529;
                padding: 20px!important;
                text-align: center;

              }
            .nav-link{
                color: $white!important;
                font-size: 20px!important;

            }
            img{
                width: 130px;

                @media (max-width: 730px) { 
                    width: 20vw;
                    margin-top: 0;

                  }
            }
            
        }
       
    }
    .text-content{
        color: $white;
        position: absolute;
        top: 35%;
        left: 0%;
        @media (max-width: 850px) { 
          top: 42%;

        }  
        @media (max-width: 450px) { 
          top: 38%;

        }  
        @media (max-width: 370px) { 
          top: 45%;

        }  
        h1{
            font-size: 130px;

        }
    }
}