
@use '../custom' as *;

.section-4{
    position: relative;
    margin-bottom: 300px;
    @media (max-width: 730px) { 
        margin-bottom: 200px!important;

      }
    .text-head{
        color: white;
        .title{
            font-family: rocGrotesk;
            font-weight: regular;
            font-size: 43px;
            line-height: 40px;
        }
        .subtitle{
            font-family: rocGrotesk;
            font-weight: medium;
            font-size: 22px;
        }
    }
    .text{
        color: white;
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
    font-size: 20px;
    font-family: rocGrotesk;
        font-weight: regular;

    }
    .circulo{
        background: linear-gradient($black,$black) padding-box,
        linear-gradient(94deg, rgba(251,203,154,1) 0%, rgba(239,127,60,1) 45%, rgba(229,0,126,1) 87%) border-box;
    width: 200px;
    height: 144px;
    border-radius: 72px;
    border: 1px solid transparent;
    display: flex;
    justify-content: start;
    align-items: center;
    .circulo-hijo{
        background: linear-gradient($black,$black) padding-box,
        linear-gradient(264deg, rgba(251,203,154,1) 0%, rgba(239,127,60,1) 45%, rgba(229,0,126,1) 87%) border-box;
    width: 85px;
    height: 85px;
    border-radius: 72px;
    border: 1px solid transparent;
    margin-left: 19px;
    
    }
    }
    
    
   
}
.section-5{
    .email{
        display: flex;
        align-items: end;
        @media (max-width: 625px) { 
           flex-direction: column!important;
            align-items: center!important;
          
           //   width: 100% !important;
          }
      .circulo{

        display: flex;
        justify-content: end;

      }
    }
    .contact{
        font-size: 9vw;
        font-family: rocGrotesk;
        font-weight: regular;
        text-transform: uppercase;
        color: white;
        padding: 20px 0px;
        margin: 0px;
        line-height: 7.5vw;
    }
    .circulo{
        background: linear-gradient($black,$black) padding-box,
        linear-gradient(94deg, rgba(251,203,154,1) 0%, rgba(239,127,60,1) 45%, rgba(229,0,126,1) 87%) border-box;
    width: 251px;
    height: 179.3px;
    border-radius: 72px;
    border: 1px solid transparent;
    align-items: center;
    margin: 8px 0px;

    @media (max-width: 716px) { 
        width: 200px;
        height: 150px;
        margin: 10px;
     //   width: 100% !important;
      }
      @media (max-width: 625px) { 
        width: 251px;
        height: 179.3px;
       
        //   width: 100% !important;
       }

    p{
        font-family: rocGrotesk;
        font-weight: medium;
        text-align: end;
        color: white;
        font-size: 20px;
            @media (max-width: 716px) { 
                font-size: 15px;

     //   width: 100% !important;
      }
      @media (max-width: 625px) { 
     
        font-size: 20px;

        //   width: 100% !important;
       }
    }
  
    }
}

.section-6{
    color: white;
    font-family: rocGrotesk;
    font-weight: regular;
    font-size: 13px;
    margin-bottom: 80px;
    .content-circle{
        @media (max-width: 766px) { 
            justify-content: center;
         //   width: 100% !important;
          }
    }

    .box-text{
        @media (max-width: 766px) { 
            flex-direction: column;
         //   width: 100% !important;
          }
    }
    p{
        margin: 0px;
        @media (max-width: 766px) { 
            text-align: center;
           

        }
        
    }
    .end-text{
        margin-right: 157px;
    }
    .circulo{
        margin-top: 104px;
        margin-bottom: 60px;
        width: 101px;
        height: 101px;
        background-color: #FFFFFF;
        border-radius: 100%;
        align-items: center;
        img{
            width: 35px;
            height: 43px;

        }
    }
    .hr{
        background-color: white!important;
        width: 23px;
        height: 1px;
           color:white !important;
           border: none;
           margin: 0px;
           margin-top: 12px;
           margin-bottom: 12px;
           @media (max-width: 766px) { 
            margin: 12px auto;
          }


    }
    .text-repeat{
        
            @media (max-width: 766px) { 
               display: none;
              }
            }
}

footer{
    padding-left: 47px;
    padding-right: 47px;
    overflow: hidden;
    @media (max-width: 730px) { 
        padding-left: 0px;
        padding-right: 0px;

      }
    img{
        height: 224px;

    }
}