
@use '../custom' as *;

.section-4{
    position: relative;
    margin-bottom: 300px;
    @media (max-width: 730px) { 
        margin-bottom: 200px!important;

      }
      @media (max-width: 480px) { 
        margin-bottom: 100px!important;

      }
    .text-head{
        color: white;
        .title{
            font-family: rocGrotesk;
            font-weight: regular;
            font-size: 2em;
            line-height: 40px;
        }
        .subtitle{
            font-family: rocGrotesk;
            font-weight: medium;
            font-size: 1.2em;
        }
    }
    .text{
        color: white;
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
    font-size: 20px;
    font-family: rocGrotesk;
        font-weight: regular;
        @media (max-width: 628px) { 
            font-size: 10px;

    
          }
          @media (max-width: 479px) { 
            font-size: 10px;
            transform: translate(0%, -50%);

    
          }
          @media (max-width: 347px) { 
            font-size: 9.5px;
            transform: translate(10%, -50%);

    
          }

    }
    .circulo{
        background: linear-gradient($black,$black) padding-box,
        linear-gradient(94deg, rgba(251,203,154,1) 0%, rgba(239,127,60,1) 45%, rgba(229,0,126,1) 87%) border-box;
    width: 200px;
    height: 144px;
    border-radius: 72px;
    border: 1px solid transparent;
    display: flex;
    justify-content: start;
    align-items: center;
    @media (max-width: 653px) { 
        width: 190px;
        height: 144px;

      }
      @media (max-width: 544px) { 
        width: 170px;
        height: 130px;

      }
      @media (max-width: 494px) { 
        width: 160px;
        height: 110px;

      }

      @media (max-width: 494px) { 
        width: 150px;
        height: 100px;

      }
      @media (max-width: 338px) { 
        width: 130px;
        height: 90px;

      }

    .circulo-hijo{
        background: linear-gradient($black,$black) padding-box,
        linear-gradient(264deg, rgba(251,203,154,1) 0%, rgba(239,127,60,1) 45%, rgba(229,0,126,1) 87%) border-box;
    width: 85px;
    height: 85px;
    border-radius: 72px;
    border: 1px solid transparent;
    margin-left: 19px;
    @media (max-width: 653px) { 
        width: 75px;
        height: 75px;

      }
      @media (max-width: 568px) { 
        width: 60px;
        height: 60px;

      }
      @media (max-width: 383px) { 
        width: 50px;
        height: 50px;

      }
      @media (max-width: 320px) { 
        width: 45px;
        height: 45px;

      }

      img{
        @media (max-width: 410px) { 
            width: 6vw!important;
    
          }
          @media (max-width: 566px) { 
            width: 4.7vw!important;
    
          }
      }
   
    }
    }
    
    
   
}

