@use '../custom' as *;

@font-face {
    font-family:rocGrotesk ;
    src: url(/Fonts/RocGrotesk-Regular.otf);
    font-weight: regular;
  }
.section-1{
    color: $white;
    margin-top: 7rem;
    .text-section-1{
        width: 80%;
        height: 507px;
        position: absolute;
        transform: translate(2%, -60%);

    }
    .content-text-head{
        font-size: 20px;
        font-family: rocGrotesk;
        font-weight: regular;
        margin-bottom: 7rem;
        padding-left: 150px;
        width: 50%;
    }
    .content-main{
        position: relative;
        .box{
            width: 428px;
            height: 409px;
            position: absolute;
            background-image: url("/img/box.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            top: 78px;
            transform: translate(-150%, 2%);

        }
    }
    
}