@use '../custom' as *;


.section-1{
    color: $white;
    margin-top: 7rem;
    margin-bottom: 300px;
    position: relative;
    .text-section-1{
        width: 80%;
        height: 507px;
        position: absolute;
        bottom: -200px;

    }
    .content-text-head{
        font-size: 20px;
        font-family: rocGrotesk;
        font-weight: regular;
        margin-bottom: 7rem;
        padding-left: 150px;
        width: 50%;
    }
    .content-main{
        position: relative;
        .box{
            width: 428px;
            height: 409px;
            position: absolute;
            background: linear-gradient(94deg, rgba(251,203,154,1) 0%, rgba(239,127,60,1) 45%, rgba(229,0,126,1) 87%);
            font-size: 1.2em;
            
            top: 78px;

            transform: translate(-150%, 2%);
            display: flex;
            justify-content: start;
            p{
                font-size: 20px;
                margin-top: 43px;
                margin-left: 43px;
                line-height: 20px;
                font-family: rocGrotesk;
                font-weight: medium;
            }
        }
    }
    
}